body {
  background-color: darkorange;
  /* content: "480px보다 작다"; */
}

.grid {
  display: grid;
  grid-template-columns: 1fr;
}

.item {
  display: inline-block;
  padding: 30px;
  border: 2px solid yellow;
  background-color: beige;
}

@media screen and (min-width: 480px) {
  body {
    background-color: lightblue !important;
    /* content: "480px보다 크다"; */
  }
  .grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
  body {
    background-color: coral;
  }
}
